/*cabeçalho*/
header {
    display: flex;
    overflow: auto;
    height: 85px;
    background-color: #F4B72D;
    color: white;
}


.menu {
    list-style: none;
    float:inline-start; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu li a{
    color: white;
    text-decoration: none;
}

.menu-logo {
    align-items: center;
    justify-content: flex-start;
    line-height: 3px;
    padding: 10px;
}

.menu-title {
    align-items:baseline;
    padding: 20px;
}

.menu-item {
    top: 1px;
    right: 10px;
    padding: 15px;
    position: absolute;
}

/*carrossel*/
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }


/*categorias*/
#header {
    border-radius: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 35px;
}

.row-item {
    background-color: #A028D8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-bottom: 2px black solid ;
    justify-content: space-between;
}

/*rodapé*/
footer {
    background-color: #F4B72D;
    color: white;
    list-style: none;
    overflow: auto;
    border-top: 1px solid ;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

/*links rodapé*/
.menu-footer {
    list-style: none;
}

.menu-footer li a{
    float: left;
    color: white;
    text-decoration: none;
    padding:5px 10px; 
    display:block;
}

.footer-img {
    padding-top: 5px;
    right: 10px;
    padding: 10px;
    position: absolute;
    width: 40px;
}

