 .site {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 /*cabeçalho*/
header {
    display: flex;
    overflow: auto;
    height: 80px;
    background-color: #F4B72D;
    color: white;
}

.menu {
    list-style: none;
    float:inline-start; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding:5px 10px; 
}

.menu-logo {
    align-items: center;
    justify-content: flex-start;
    line-height: 3px;
    padding: 10px;
}

.menu-title {
    align-items:baseline;
}

.menu-item {
    top: 1px;
    right: 10px;
    padding: 15px;
    position: absolute;
}

.site-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
 padding-top: 5%;
 width: 90%;
}

.container {
    background-color: rgba(255, 208, 0, 0.329) ;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 45vh;
    width: 100%;
}


h4 {
    color: #8b8686;
    font-weight: bold;
    padding-right: 18%;
    padding-top: 5%;
}

/*container com sugestões*/
.row1 {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 208, 0, 0.329) ;
    border-radius: 8px;
    width: 28%;
    height: 130px;
    align-items: center;
    justify-content: space-around;
}

.divisoria {
    border-bottom: 1px solid #F4B72D ;
}

.itens h5 {
    color: white;
    font-weight: bold;
}

/*botões inferiores*/
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding-top: 10%;
}

.row2 button {
    background-color: #A028D8;
    height: 35px;
    border: 0px;
    border-bottom: 3px black solid ;
    box-shadow: 0 0 10px grey ;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.btn1 {
    width: 100px;

}

.btn2 {
    width: 150px;
}

/*links rodapé*/
footer {
    background-color: #F4B72D;
    display: flex;
    align-items: center;
}

.menu-footer {
    list-style: none;
}

.menu-footer li a{
    float: left;
    color: white;
    text-decoration: none;
    padding:5px 10px; 
    display:block;
}

.footer-img {
    padding-left: 700%;
    padding-top: 8px;
}

