body {
    font-family: verdana;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*cabeçalho*/
header {
    display: flex;
    overflow: hidden;
    height: 80px;
    background-color: #F4B72D;
    color: white;
}

.menu {
    list-style: none;
    float:inline-start; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding:5px 10px; 
}

.menu-logo {
    align-items: center;
    justify-content: flex-start;
    line-height: 3px;
    padding: 10px;
}

.menu-title {
    align-items:baseline;
}

.menu-item {
    top: 1px;
    right: -5px;
    padding: 15px;
    position: absolute;
}

.site-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*carrossel*/
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #A028D8 !important;
  }

.carousel-item img {
    object-fit: cover !important;
    border-radius: 35px;
}

#header {
    padding-top: 10%;
    margin: 5%;
}

/*categorias*/
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 35px;
}

.row-item {
    background-color: #A028D8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-bottom: 2px black solid ;
    justify-content: space-between;
}

.rowImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/*rodapé*/
footer {
    background-color: #F4B72D;
    color: white;
    list-style: none;
    overflow: auto;
    border-top: 1px solid ;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

/*links rodapé*/

.menu-footer {
    list-style: none;
}

.menu-footer li a{
    float: left;
    color: white;
    text-decoration: none;
    padding:5px 10px; 
    display:block;
}

.footer-img {
    top: 1px;
    right: 10px;
    padding: 15px;
    position: absolute;
    width: 60px;
}

